* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  margin-left: 40px;
}

.container {
  text-align: center;
}

button {
  padding: 30px 40px;
  font-size: 36px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  margin: 0 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
